
  <div class="gradient-section" data-aos="fade-up">
    <div class="content">
      <div class="left-section" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
        <h2>Ready to Capture Your Moments?</h2>
        <p>Book a session with us to create unforgettable memories.</p>
        <div class="contact-info" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400">
          <mat-icon class="phone-icon">phone</mat-icon>
          <span class="contact-number">+1 (234) 567-890</span>
        </div>
        <button mat-raised-button routerLink="/book" color="primary" class="book-btn" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="600">Book a Session</button>
      </div>
  
      <div class="right-section" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="800">
        <swiper-container class="mySwiper" loop="true" navigation="true" speed="1000" pagination="true" autoplay="true">
          <swiper-slide class="swiperSlide" *ngFor="let image of images" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <img 
            [lazyLoad]="image" 
            [defaultImage]=""
            alt="carousel image" />
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
  
 
  

  
  
  
  