
<div class="gallery-container" data-aos="fade-up" data-aos-delay="200">
  <h2 class="gallery-title" data-aos="fade-down" data-aos-delay="300">Our Gallery</h2>
  <div class="gallery">
    <swiper-container 
      class="mySwiper"
      pagination="true" 
      effect="coverflow" 
      grab-cursor="true" 
      centered-slides="true"
      slides-per-view="auto" 
      coverflow-effect-rotate="50" 
      coverflow-effect-stretch="0" 
      coverflow-effect-depth="100"
      coverflow-effect-modifier="1" 
      coverflow-effect-slide-shadows="true" 
      loop="true">
      
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-1.jpg" alt="Nature 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-2.jpg" alt="Nature 2" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-3.jpg" alt="Nature 3" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-4.jpg" alt="Nature 4" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-5.jpg" alt="Nature 5" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-6.jpg" alt="Nature 6" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-7.jpg" alt="Nature 7" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-8.jpg" alt="Nature 8" />
      </swiper-slide>
      <swiper-slide>
        <img src="https://swiperjs.com/demos/images/nature-9.jpg" alt="Nature 9" />
      </swiper-slide>
    </swiper-container>
  </div>
</div>
