.gallery-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #bfc8dc;
  
    h2 {
      font-size: 2rem;
      color: #ff0f61;
      margin-bottom: 30px;
    }
  }
  
.Gallery {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    border-radius: 10px;
  }
  
  .Gallery swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:20px;
    padding-right:20px;
  }
  
  .Gallery swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .Gallery swiper-slide img {
    display: block;
    width: 100%;
  }