
<div class="gallery-container" data-aos="fade-up" data-aos-delay="200">
  <h2 class="section-title" data-aos="fade-down" data-aos-delay="300">Our Gallery</h2>
  <div class="gallery">
    <swiper-container 
      class="mySwiper"
      pagination="true" 
      effect="coverflow" 
      grab-cursor="true" 
      centered-slides="true"
      slides-per-view="auto" 
      coverflow-effect-rotate="50" 
      coverflow-effect-stretch="0" 
      coverflow-effect-depth="100"
      coverflow-effect-modifier="1" 
      coverflow-effect-slide-shadows="true" 
      loop="true">
      <swiper-slide *ngFor="let slide of slides">
        <img [lazyLoad]="slide.image" [defaultImage]="" [alt]="slide.alt" />
      </swiper-slide>      
    </swiper-container>
  </div>
</div>