
   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0 1.5rem;
  
    .navbar-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .navbar-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
    }
  
    .navbar-left,
    .navbar-right {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    button {
      color: black;
      font-size: 1rem;
      font-weight: 500;
      text-transform: capitalize;
      background: none;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
      }
    }
  
    .sign-in-btn {
      background-color: #ff0f61;
      color: white;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 4px;
      width: 85px;
  
      &:hover {
        background-color: #ff0f61;
      }
    }
  
    .menu-toggle {
      display: none;
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
      color: black;
    }
  
    .navbar-left button {
      position: relative;
      color: black;
      font-size: 1rem;
      font-weight: 500;
      text-transform: capitalize;
      background: none;
      border: 2px solid transparent;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
    }
    
    .navbar-left button::before {
      content: '';
      position: absolute;
      bottom: 0; 
      left: 0;
      width: 0;
      height: 3px;
      background-color: #ff0f61 ;
      transition: width 0.3s, left 0.3s;
    }
    
    .navbar-left button:hover {
      color: #ff0f61;
      transform: translateY(-3px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
    
    .navbar-left button:hover::before {
      width: 100%; 
      left: 0;
    }
    
    .navbar-left button:active {
      transform: translateY(0);
    }
    
    
    @media (max-width: 768px) {
      .menu-toggle {
        display: block;
      }
  
      .navbar-content {
        display: none; 
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        position: absolute;
        top: 57px; 
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
      }
  
      .navbar-content.mobile-menu-open {
        display: flex; 
        flex-direction: column;
      }
  
      .navbar-left
      {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      .navbar-left button,
      .navbar-right .sign-in-btn {
        width: auto; 
        text-align: center;
        padding: 8px 12px;
      }      
    }
  
    .navbar-content.desktop-menu {
      display: flex !important;
    }
    
  }
    
  
  .profile-icon {
    background: #ff0f61;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .profile-icon mat-icon {
    color: white;
    font-size: 1.4rem;
  }
  
  .profile-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  
  /* Stylish Menu Icon */
.menu-toggle {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
}

.menu-icon {
  display: flex;
  width: 25px;
  height: 3px;
  background-color: #ff005c;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff005c;
  width: 25px;
  height: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menu-icon::before {
  top: -7px;
}

.menu-icon::after {
  top: 7px;
}

/* When menu is open, change to 'X' */
.menu-icon.open {
  background-color: transparent;
}

.menu-icon.open::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-icon.open::after {
  transform: rotate(-45deg);
  top: 0;
}
