
<nav class="navbar">
  <div class="navbar-container">
    
    <button class="menu-toggle" *ngIf="isMobileView" (click)="toggleMenu()">
      <span class="menu-icon" [ngClass]="{'open': isMobileMenuOpen}"></span>
    </button>

    <div
      class="navbar-content"
      [ngClass]="{ 'mobile-menu-open': isMobileMenuOpen, 'desktop-menu': !isMobileView }"
    >
      <div class="navbar-left">
        <button (click)="scrollTo('carousel')">Home</button>
        <button (click)="scrollTo('gallery')">Gallery</button>
        <button (click)="scrollTo('services')">Services</button>
        <button (click)="scrollTo('albums')">Events</button>
        <button (click)="scrollTo('contact')">Contact</button>        
      </div>
      
    </div>
    <div class="navbar-right">      
      <button
      mat-raised-button
      class="sign-in-button"
      (click)="openSignInPopup()"
      title="Sign In"
      aria-label="Sign In">
      <!-- <mat-icon class="icon">person</mat-icon> -->
      <span class="text">Sign In</span>
    </button>
    </div>
  </div>
</nav>
 
<app-sign-in-popup *ngIf="showSignInPopup"
(closePopup)="closeSignInPopup()">
</app-sign-in-popup>
 
