
<nav class="navbar">
  <div class="navbar-container">
    <!-- Hamburger Menu Button (Mobile) -->
    <button class="menu-toggle" *ngIf="isMobileView" (click)="toggleMenu()">☰</button>

    <!-- Navbar Content -->
    <div
      class="navbar-content"
      [ngClass]="{ 'mobile-menu-open': isMobileMenuOpen, 'desktop-menu': !isMobileView }"
    >
      <div class="navbar-left">
        <button (click)="scrollTo('carousel')">Home</button>
        <button (click)="scrollTo('services')">Services</button>
        <button (click)="scrollTo('albums')">Albums</button>
        <button (click)="scrollTo('contact')">Contact</button>
        <button routerLink="/book">Book</button>
      </div>
      
    </div>
    <div class="navbar-right">
      <button class="sign-in-btn" routerLink="/signin">Sign In</button>
    </div>
  </div>
</nav>

