
<nav class="navbar">
  <div class="navbar-container">
    
    <button class="menu-toggle" *ngIf="isMobileView" (click)="toggleMenu()">
      <span class="menu-icon" [ngClass]="{'open': isMobileMenuOpen}"></span>
    </button>

    <div
      class="navbar-content"
      [ngClass]="{ 'mobile-menu-open': isMobileMenuOpen, 'desktop-menu': !isMobileView }"
    >
      <div class="navbar-left">
        <button (click)="scrollTo('carousel')">Home</button>
        <button (click)="scrollTo('gallery')">Gallery</button>
        <button (click)="scrollTo('services')">Services</button>
        <button (click)="scrollTo('albums')">Events</button>
        <button (click)="scrollTo('contact')">Contact</button>        
      </div>
      
    </div>
    <div class="navbar-right">
      <div class="profile-icon" routerLink="/signin" title="Sign In">
        <mat-icon>person</mat-icon>
      </div>
    </div>
  </div>
</nav>
 
 
