
  <header class="header">
    <div class="logo">
      <img src="assets/images/studio.png" alt="Photo Studio Logo" class="logo-img" />
      <span class="logo-text">
        <span class="digital-text">Digital</span> 
        <span class="studio-text">Studio</span>
      </span>
    </div>
    <div class="contact">
      <div class="contact-item">
        <mat-icon class="rich-icon">call</mat-icon>
        <div class="contact-details">
          <span class="contact-label">Call Us:</span>
          <span>9989989984</span>
        </div>
      </div>
      <div class="contact-item">
        <mat-icon class="rich-icon">mail</mat-icon>
        <div class="contact-details">
          <span class="contact-label">Email:</span>
          <span>contact&#64;photostudio.com</span>
        </div>
      </div>
    </div>
  </header>
  