<header class="header">
    <div class="logo">
      <img src="assets/images/studio.png" alt="Photo Studio Logo" class="logo-img" />
      <span class="logo-text">
        <span class="digital-text">Digital</span> 
        <span class="studio-text">Studio</span>
      </span>
    </div>
    <div class="contact">
      <div class="contact-item">
        <mat-icon>phone</mat-icon>
        <span>9989989984</span>
      </div>
      <div class="contact-item">
        <mat-icon>email</mat-icon>
        <span>contact&#64;photostudio.com</span>
      </div>
    </div>
  </header>