<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studio Home</title> 
 </head>
<body>  
  
  <div class="fixed-header">
    <app-header></app-header>
    <app-navbar></app-navbar>
  </div>

  <div class="content">
    <div id="carousel">
      <app-carousel></app-carousel>
    </div>
    
    <div id="services"> 
      <app-services></app-services>
    </div> 
    
    <div id="albums">
      <app-albums></app-albums>
    </div>
    
    <div id="contact">
      <app-contact></app-contact>
    </div>
  </div>

</body>
</html>
