<div class="sign-in-popup">
    <div class="popup-content">
        <div class="logo">
            <img src="assets/images/studio.png" alt="Photo Studio Logo" class="logo-img" />
            
          </div>
      <button class="close-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
      <h2>Welcome</h2>  
      <form class="sign-in-form" #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
          name="username"
            [(ngModel)]="username"
            type="text"
            placeholder="Enter your username"
            required
          />
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input
          name="password"
           [(ngModel)]="password"
            type="password"
            placeholder="Enter your password"
            required
          />
        </div>
  
        <button type="submit" class="sign-in-button">
          <mat-icon>login</mat-icon>
          <span>Sign In</span>
        </button>
      </form>
  
      <div class="footer">
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
      </div>
    </div>
  </div>