<div class="album-container">
  <h2>Our Events</h2>
  <div class="album-list">
    <mat-card 
      *ngFor="let album of albums; let i = index" 
      class="album-card">
      
      <mat-card-header>
        <mat-card-title>
          {{ album.title }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <!-- Optimized Album Cover Image -->
        <img
          mat-card-image
          [lazyLoad]="album.coverImage"
           [defaultImage]=""
          alt="album image"
          class="album-image"
          
        />

        <!-- Album Description -->
        <p>
          {{ album.description }}
        </p>

        <!-- Event List -->
        <div class="event-list">
          <ul>
            <li *ngFor="let event of album.events">
              {{ event }}
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
